.tellinks {
    text-decoration: none !important;
    color: white !important;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    background-color: rgba(245, 245, 220, 0.5) !important;
    font-family: 'Lato', sans-serif !important;

}

body::-webkit-scrollbar {
    display: none;
}

.freepage{
    min-height: 57vh;
}

/*NAVBAR*/
@media screen and (max-width: 986px) {
    .navbar {
        position: fixed !important;

    }
    .navmargin{
    margin-left: 0 !important;
    }

    .navbar-brands img {
        width: 120px !important;
        padding-top: 5px;

    }
    .navbar-collapse {
        margin-top: 2rem;
        position: fixed !important;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: rgb(222, 210, 210);
        transition: all 600ms !important;
        transform: translateX(-0%);
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: all 600ms ease-in-out!important;
        transform: translateX(0%);
    }
    .navbar-toggler.collapsed ~ .navbar-collapse {
        transform: translateX(0%);
    }

    .mobmenubtn {
        color: rgb(244, 236, 236) !important;
        text-align: center;
    }

    .mobmenubtndiv {
        border-radius: 8px;
        border: 1px solid black;
    }
}

.navmargin{
    margin-left: 2.5rem;
}

.navbar {
    background-color: rgb(227, 14, 14) !important;
    width: 100%;
    z-index: 99;
    top: 0;
    height: 75px;
}
.navbar_alt {
    background-color: rgb(244, 239, 239) !important;
    width: 100%;
    z-index: 99;
    top: 0;
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: red !important;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: rgb(140, 69, 69) !important;
    /*background-color: turquoise !important;*/
    border-radius: 8px !important;
    margin-bottom: 100px;
}

.nav-link::before {
    content: '';
    position: absolute;
    transition: all 0.5s ease;
    transform: scale(0);
}

.nav-link.active::before,
.nav-link:hover::before {
    transform: scale(1);
}

/* FOOTER */

.footer {
    background-color: rgb(29, 28, 28);
}

.footerheads {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.footerlist {
    list-style: none;
    color: white;
!important;
}

.footerlinks {
    text-decoration: none !important;
    color: white;
!important;
    text-decoration-color: #06003C !important;
    font-family: 'Poppins', sans-serif;
}

.footerlinks:hover {
    color: white;
}

.footersocialmedialist {
    /*display: inline;*/
    list-style: none;
    justify-content: center;
    /*margin-left: 25px;*/
    margin-top: 30px;
    border-radius: 20px;
    background-color: white;
    padding: 0px 6px 3px 6px;
}

.footersign {
    color: black;
}

.footertext {
    color: white;
}

.collapse-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.collapse-menu.open {
    max-height: 500px;
}
.container {
    display: flex;
}

.left-side {
    flex: 1;
    padding: 20px; /* İsteğe bağlı, sol bölümün kenar boşlukları */
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footersign {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}





@media (min-width: 700px) {
    .collapse-menu {
        max-height: none !important;
    }
}




/* News */

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:hover, .card-link:hover .card-title, .card-link:hover .card-text {
    color: inherit;
    text-decoration: none;
}

.card-title, .card-text {
    color: inherit;
}

.card-img-top {
    height: 300px !important;
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
    object-fit: cover;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 1px solid white;
    border-radius: 18px !important;
    min-height: 30rem !important;
    max-height: 30rem !important;
}
