{% load static %}


<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="keywords"
          content="{% block meta_keywords %}{% endblock %}">


    {# Css #}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    {# Fancybox CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>

    {# fontAwesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# font #}
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    {# boostrap #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {# aos #}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {# owlCarousel #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css"
          integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# SwiperBundle #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>





    {% block css_files %} {% endblock %}
    <title>{% block page_tittle %}{% endblock %}| CS437</title>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark " id="navigation">
    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"#}
    {#            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <img height="40" src="{% static "img/icons8-menu.svg" %}" alt="menü ikonu">#}
    {#    </button>#}
    <a class="navbar-brand" style="color: white" href="/">Sabancı News</a>
    {#    <a class="navbar-brands" href="/"><img class=" navbar-brands" width="100"#}
    {#                                                   src="{% static "img/otopratiksitelogo.png" %}"></a>#}
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav w-100 h-100 navmargin">
            <li class="nav-item mobmenubtndiv mb-md-3  mt-3 mr-md-3 home {% if request.resolver_match.view_name == 'index' or request.resolver_match.view_name == 'root-redirect' %}active{% endif %}">
                <a class="nav-link mobmenubtn " href="/">Ana Sayfa</a>
            </li>

            <li class="nav-item mobmenubtndiv mb-md-3 mt-3 mr-md-3 products {% if request.resolver_match.view_name == 'latest' %}active{% endif %}">
                <a class="nav-link mobmenubtn " href="/latest">Son Dakika</a>
            </li>

            <li class="nav-item mobmenubtndiv mb-md-3 mt-3 mr-md-3 products {% if request.resolver_match.view_name == 'sport' %}active{% endif %}">
                <a class="nav-link mobmenubtn " href="/sport">Spor</a>
            </li>

            <li class="nav-item mobmenubtndiv mb-md-3 mt-3 mr-md-3 products {% if request.resolver_match.view_name == 'economy' %}active{% endif %}">
                <a class="nav-link mobmenubtn " href="/economy">Ekonomi</a>
            </li>

            <li class="nav-item mobmenubtndiv mb-md-3 mt-3 mr-md-3 products {% if request.resolver_match.view_name == 'magazine' %}active{% endif %}">
                <a class="nav-link mobmenubtn " href="/magazine">Magazin</a>
            </li>
            
            <li class="nav-item mobmenubtndiv mb-md-3 mt-3 mr-md-3 products {% if request.resolver_match.view_name == 'search' %}active{% endif %}">
                <a class="nav-link mobmenubtn" href="/search">Search</a>
            </li>
            


        </ul>
    </div>
</nav>


{% block content %}{% endblock %}


<footer class="footer w-100  ">
    <div class="container">
        <div class="row border-bottoms">

            <div class="col-md-6 col-sm-12  p-0 ">
                <h2 class="py-md-3 py-3 pl-md-3 pl-3 text-center footerheads my-md-5 mt-5 mb-1 mobiledownbtn">
                    Sabancı News</h2>

                <p class="text-center footertext px-3">Sabancı Üniversitesi, 1999 yılında İstanbul'da kurulmuş bir vakıf
                    üniversitesidir. Kurulma kararı 1994 yılında Hacı Ömer Sabancı Vakfı önderliğinde Sabancı topluluğu
                    tarafından kurulma kararı alınmış Ekim 1999'da Türkiye'de liberal bilimler tarzı eğitim veren ilk
                    yükseköğretim kurumu olarak öğretime başlamıştır.</p>

                <p class="text-center footertext px-3">Orta Mahalle, Üniversite Caddesi No:27 Tuzla, 34956 İstanbul<br>
                    <a href="tel:+902164839000" class="tellinks">02164839000</a></p>
            </div>
            <div class="col-md-6 col-sm-12 p-0">
                <div class=" mobiledownbtn  px-sm-3 px-md-0"
                     onclick="openFooterMenu('reformer-menu')">
                    <h2 class="text-center footerheads my-md-5 my-sm-0 p-3">Hızlı Erişim</h2>
{#                    <img id="chevronIcon" class="d-sm-none cursor-pointer pr-3" style="filter: contrast(0.5)"#}
{#                         src="{% static "img/chevron-down.svg" %}" alt="cursor">#}


                </div>

                <ul class="px-3 text-center collapse-menu" id="reformer-menu">
                    <li class="footerlist mb-3 "><a href="/" class="footerlinks">Anasayfa</a></li>
                    <li class="footerlist mb-3 "><a href="/latest" class="footerlinks">Son Dakika</a></li>
                    <li class="footerlist mb-3"><a href="/sport" class="footerlinks">Spor</a></li>
                    <li class="footerlist mb-3 "><a href="/economy" class="footerlinks ">Ekonomi</a></li>
                    <li class="footerlist mb-3 "><a href="/magazine" class="footerlinks">Magazin</a></li>
                </ul>

            </div>



        </div>
        <div class="row">
            <div class="col text-center mt-md-1 mt-3">
                <p class="footersign">© Sabancı News</p>
            </div>

        </div>
    </div>
</footer>

</body>


{# Js dosyaları #}

{#jquery / önemli #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{# Fancybox JS #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
{#popper js#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
{# boostrap #}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{# owlcarousel #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{# Aos #}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{# SwiperBundle #}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="{% static 'js/script.js' %}"></script>
{% block js_files %} {% endblock %}


</html>